body {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.dados {
    margin-top: 20px;
}

.dados .painel-body {
    padding: 20px;
}

span {
    padding: 10px;
    font-size: 14pt;
    border-radius: 5px;
}